#Titulo {
    font-size: 20px;
    color: white;
    unity-font-style: bold;
    unity-text-align: middle-center;

    margin-top: 25px;
    margin-bottom: 18px;
}

#Texto {
    font-size: 14px;
    color: white;
    unity-text-align: upper-center;
    white-space: normal;

    width: 100%;

    margin-left: 10px;
    margin-right: 10px;
}
#PantallaCreditos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(95, 95, 95);
    align-items: center;
    justify-content: flex-start;
}

#TituloCreditos {
    margin-top: 25px;
    margin-bottom: 20px;

    font-size: 42px;
    color: rgb(220, 185, 70);
    unity-font-style: bold;
    unity-text-align: middle-center;
}

#AreaCreditos {
    position: relative;
    width: 100%;
    height: 75%;
    overflow: hidden;

    align-items: center;
    justify-content: flex-start;
}

#TextoCreditos {
    position: absolute;
    width: 100%;

    font-size: 24px;
    color: rgb(220, 185, 70);
    unity-text-align: upper-center;
    white-space: normal;
}